<!DOCTYPE html>

<html>
    <!!-- this is incomplete html, with no css -->
    
    <head><title>Detail page</title></head>  
  
    <body>
    
        <h1>Detail of food item "{{ item.foodName }}"</h1>

        <p><a href="location/">Location: {{item.foodLocation}}</a></p> 
        <p>⠀</p>
        <p>Stock level: {{stock.stockNumber}}</p>
        <p>Notes: {{ item.foodItemNotes }}</p>

        <p>⠀</p>
        <p><a href="/ffdb">Link to index page</a></p>
        <p><a href="/admin/ffdb/fooditems/">Link to admin page</a></p>
    

    </body>
</html>