<!DOCTYPE html>

<html>
    <!!-- this is incomplete html, with no css -->

{% load static %}
    <head>
        <title>Detail page</title>
        <link rel="icon" type="image/png" href="{% static 'ffdb/favicon.png' %}">
    </head>  
  
    <body>
    
        <h1>Detail of food item "{{ item.foodName }}"</h1>

        <p><a href="location/">Location: {{item.foodLocation}}</a></p> 
        <p>⠀</p>
        <p>Stock level: {{stock.stockNumber}}</p>
        <p>Notes: {{ item.foodItemNotes }}</p>

        <!--"Footer"-->
        <p>⠀</p>
        <p><a href="/ffdb">Link to index page</a></p>
        <p><a href="/admin/ffdb/fooditems/">Link to admin page</a></p>
    

    </body>
</html>