<!DOCTYPE html>

<html>
    <!!-- this is incomplete html, with no css -->

{% load static %}
{% load ffdb_tags %}

    <head>
        <title>Index page</title>
        <link rel="icon" type="image/png" href="{% static 'ffdb/favicon.png' %}">
    </head>

    <body>
  
        <h1>Index of all items in the Database</h1>

            <!-- List area -->
        <h2>Search/Index</h2>

            <form action='{% url 'index' %}' method='GET'>
                <input name='q' type='search' placeholder='Search...' id='searchbar' autofocus> <!-- search box -->
                <button for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"></button> <!--(built in) Search icon-->
            </form>

            {% if search_results %} <!-- Displays search results -->
                <p>You searched for "<b>{{ query }}</b>". Here are your results: <a href='/ffdb/'>Clear search</a></p>
                <ul>
                    {% for item in search_results %}
                        <li><a href="/ffdb/{{ item.id }}/">Food item "{{item}}" is in location: {{ item.foodLocation }}</a></li>
                    {% endfor %}
                </ul>

            {% elif not search_results and query %} <!-- Displays all in DB if no results but the user searched for something-->
                {% if query == '*ShowAll' %} <!-- special case for showing all the list without the search results message-->
                    <p>Here are all items in the database (including those with no stock). <a href='/ffdb/'>Clear</a></p> <!-- for the fake search to see all items-->
                {% else %}
                    <p>Your query "<b>{{ query }}</b>" returned no results. Below are all of the items in the Database. <a href='/ffdb/'>Clear search</a></p>
                {% endif %}
                <ul>
                    {% for item in all_food_items %} 
                        <li><a href="/ffdb/{{ item.id }}/">Food item "{{item}}" is in location: {{ item.foodLocation }}</a></li>
                    {% endfor %}
                </ul>
                
            {% elif all_food_items %} <!-- Displays all if no search made -->
                <form action='{% url 'index' %}' method='GET'>
                    <p>Items with no stock <b>do not</b> appear in this list.
                    <input name='q' id='q' value='*ShowAll' hidden>
                    <button for='q'>Click to show all items</button>
                </form>
                <ul>
                    <!-- Ex: "Food item Pizza is in location: 2.2"-->
                    {% for item in all_food_items %}
                        {% with stock=food_stock|index:forloop.counter0 %} <!-- sets the /stock/ variable to the item that is equivalent to the current /food/ value using the index method-->
                            {% if stock.stockNumber != 0 %} <!-- if there is stock for the current item -->
                                <li><a href="/ffdb/{{ item.id }}/">Food item "{{item}}" is in location: {{ item.foodLocation }}</a></li>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </ul>
            
            {% else %} <!-- Displays if there is nothing in the DB -->
                <p>There is no food in the Freezer Food DataBase</p>

            {% endif %}

            <!-- confirmation area-->
            {% if new_confirmation %}
                <p>{{ new_confirmation }}</p></br>            
            {% elif delete_confirmation %}
                <p>{{ delete_confirmation }}</p></br>            
            {% endif %}

            <!-- Item creation form -->
        <h2>Create New</h2>
            <form action='{% url 'index' %}' method='GET'>
                <p>Items with no stock do not appear in the default list!
                <input name='q' id='q' value='*ShowAll' hidden>
                <button for='q'>Click to show all items</button>
            </form>

            <form action='' method='POST'>{% csrf_token %}
                <label for='name'>Name of item*:</label>
                <input name='Name' type='text' placeholder='Name' id='name' maxlength='200' required></br>
                
                <label for='location'>Location of item*:</label>
                <input name='Location' type='text' placeholder='Location, format X.X' id='location' required pattern='([1]\.[1-5])|([2]\.[1-4])|([3]\.[12])' title='X.X, eg. 1.2 or 3.1'></br>
                
                <label for='stock'>Number of items*:</label>
                <input name='Number' type='Number' placeholder='Number, >=1' id='stock' min='1' max='2147483647' required></br>
                
                <label for='notes'>Notes about the item:</label>
                <textarea name='Notes' type='text' placeholder='Notes about the item' id='notes' rows='4' cols='50' maxlength='200'></textarea></br>

                <input name='new_id' id='new_id' value='new_index' hidden> <!-- for identifying what did the POST-->
                
                <button type='submit' for='notes' id='confirm'>Store</button>
            </form>

    
        <!-- "Footer" -->
        </br>
        <p><a href='/ffdb/freezer/'>Link to items sorted by freezer</a></p>
        <p><a href='/admin/ffdb/fooditems/'>Link to admin page</a></p>
    </body>
</html>